rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Photos folder
    match /photos/{photoId} {
      // Allow read for everyone
      allow read: if true;

      // Allow write for images under 25MB
      allow write: if request.resource.size < 25 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
